body
{
    background: url("kaamelott.gif") no-repeat;
    background-size: cover;
}
a
{
    position: absolute;
    top: 60%;
    left: 30%;
    border: none;
    font-size: 50px;
    color: #d81798;
background: none;
letter-spacing: .1em;
text-shadow: 0 -1px 0 rgb(153, 13, 13), 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a,
 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e,
  0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0
   #121212, 0 22px 30px rgba(0,0,0,0.9);
   text-decoration: none;
   
}
a:hover
{
    transform: rotateX(180deg);
    transform: rotateY(180deg);
}

h1
{
    text-align: center;
    font-size: 80px;
    color: red;
    -webkit-animation-name: titlecolor;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
@-webkit-keyframes titlecolor {
    0%   {color: red;}
    25%  {color: rgb(255, 174, 0);}
    50%  {color: rgb(143, 10, 136);}
    100% {color: red;}
  }
    